html,body{overflow-y: scroll; }

html {
  background-color: #e6e6e6;
}

header {
  height: 400px;
}

nav {
  width: 1070px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: #1f7a7a;
  background-color: #5c8a8a;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
  display: inline-block;
  width: 150px;
}

li a{
  display: block;
  width: 60px;
  text-decoration: none;
  color: #1f2e2e;
}

li a:hover {
  color: #009973;
}

.center {
  height: 350px;
  width: 1080px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
text-align: center;
}

section {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}
article {
  width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
p {
  text-align: center;
  font-size: 25px;
}

.code {
  height: 380px;
  margin-left: auto;
  font-size: 25px;
  background-color: white;
  color: #009973;
}

footer {
  text-align: center;
  font-size: 20px;
  color: #00664d;
}

.css_text {
  height: 150px;
}

.js_text {
  height: 150px;
  width: 1080px;
}

div {
  height: 300px;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.js_code {
  top: 50%;
  left: 50%;
}

.rails_arch {
  margin-left: 220px;
}
